DATABASE_URL=""
REDIS_URL=""

BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""
NUXT_PUBLIC_PROXY_URL=""
MAINTAINERS=[]

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
